.DS_Store
*/.DS_Store

# generated cache
.obsidian/copilot-index*.json

# binary files
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.zip
*.ttf
*.otf
*.woff
*.woff2
*.dylib
*.so
*.node
*.exe
*.bin
