.theme-light .callout {
  --callout-border-width: 0px 0px 0px 0px;
  /* --callout-border-opacity: 1; */
  --callout-radius: 0;
  --callout-padding: 0;
  /* background-color: var(--admonition-bg-color); */
  border-left: solid 4px rgb(var(--callout-color));
}

.theme-dark .callout {
  --callout-border-width: 0px 0px 0px 0px;
  /* --callout-border-opacity: 1; */
  --callout-radius: 0;
  --callout-padding: 0;
  background-color: #2c2e3a;
  border-left: solid 4px rgb(var(--callout-color), 0.6);
}


.theme-light .callout-title {
    padding: 8px;
    background-color: rgba(var(--callout-color), 0.1);
}

.theme-dark .callout-title {
    padding: 8px;
    background-color: rgba(var(--callout-color), 0.1);
}

.callout-title-inner {
  color: var(--text-normal);
}

/* .callout-content { */
/*   padding: 5px 15px; */
/* } */
