body:not(.pt-disable-callout-styling) .callout:is([data-callout=chatgpt], [data-callout=demo]) > .callout-title {
  color: var(--color-grey-text);
  background-color: var(--color-grey-base);
  border-color: var(--color-grey-tint);
}

body:not(.pt-disable-callout-styling) .callout:is([data-callout=chatgpt], [data-callout=demo]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-grey-text);
}

body:not(.pt-disable-callout-styling) .callout:is([data-callout=chatgpt], [data-callout=demo]) > .callout-content {
  background-color: hsla(var(--color-grey-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-grey-tint);
}


body:not(.pt-disable-callout-styling) .callout:is([data-callout=cloud], [data-callout=sc], [data-callout=sq], [data-callout=command]) > .callout-title {
  color: var(--color-purple-text);
  background-color: var(--color-purple-base);
  border-color: var(--color-purple-tint);
}
body:not(.pt-disable-callout-styling) .callout([data-callout=cloud], [data-callout=sc], [data-callout=sq], [data-callout=command]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-purple-text);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=cloud], [data-callout=sc], [data-callout=sq], [data-callout=command]) > .callout-content {
  background-color: hsla(var(--color-purple-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-purple-tint);
}


body:not(.pt-disable-callout-styling) .callout:is([data-callout=note]) > .callout-title {
  color: var(--color-blue-text);
  background-color: var(--color-blue-base);
  border-color: var(--color-blue-tint);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=note]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-blue-text);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=note]) > .callout-content {
  background-color: hsla(var(--color-blue-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-blue-tint);
}



body:not(.pt-disable-callout-styling) .callout:is([data-callout=must], [data-callout=notice]) > .callout-title {
  color: var(--color-red-text);
  background-color: var(--color-red-base);
  border-color: var(--color-red-tint);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=must], [data-callout=notice]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-red-text);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=must], [data-callout=notice]) > .callout-content {
  background-color: hsla(var(--color-red-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-red-tint);
}

body:not(.pt-disable-callout-styling) .callout:is([data-callout=idea]) > .callout-title {
  color: var(--color-green-text);
  background-color: var(--color-green-base);
  border-color: var(--color-green-tint);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=idea]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-green-text);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=idea]) > .callout-content {
  background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-green-tint);
}

body:not(.pt-disable-callout-styling) .callout:is([data-callout=edit]) > .callout-title {
  color: var(--color-yellow-text);
  background-color: var(--color-yellow-base);
  border-color: var(--color-yellow-tint);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=edit]) > .callout-title .callout-icon .svg-icon {
  color: var(--color-yellow-text);
}
body:not(.pt-disable-callout-styling) .callout:is([data-callout=edit]) > .callout-content {
  background-color: hsla(var(--color-yellow-base-hsl), var(--callout-background-alpha));
  border-color: var(--color-yellow-tint);
}
