.theme-light {
  color-scheme: light;
  --atom-gray-1: #6e7781;
  --atom-gray-2: #6e7781;
  --atom-red: #cf222e;
  --atom-green: #116329;
  --atom-blue: #0550ae;
  --atom-purple: #8250df;
  --atom-aqua: #0084bc;
  --atom-yellow: #e35649;
  --atom-orange: #986800;
  --atom-fg-default: #24292f;
}

.theme-dark {
  /* color-scheme: dark; */
  --atom-fg-default: #c9d1d9;
  --atom-gray-1: #8b949e;
  --atom-gray-2: #c9d1d9;
  --atom-red: #e06c75;
  --atom-orange: #d19a66;
  --atom-green: #98c379;
  --atom-aqua: #56b6c2;
  --atom-purple: #d2a8ff;
  --atom-blue-1: #79c0ff;
  --atom-blue-2: #a5d6ff;
  --atom-blue-3: #a8daff;
  --atom-yellow: #e5c07b;
}

/**
 * Github Dark theme for Prism.js
 * Based on Github: https://github.com
 * @author Katorly
 */
/* General */
pre[class*="language-"],
code[class*="language-"] {
  color: #c9d1d9;
  color: var(--atom-fg-default);
}
/* Tokens */
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--atom-gray-1);
}
.token.punctuation {
  color: var(--atom-gray-2);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--atom-purple); /*blue-1*/
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--atom-blue-2); /*blue-2*/
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--atom-blue-2); /*blue-2*/
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--atom-blue-2); /*blue-2*/
}
.token.function {
  color: var(--atom-purple); /*purple*/
}
.token.regex,
.token.important,
.token.variable {
  color: var(--atom-blue-3); /*blue-2*/
}
