
/* reading mode */
/* .markdown-preview-view code { */
/*   border: 1px solid #e7eaed; */
/*   background-color: #f5f5f5; */
/*   font-size: 0.8em !important; */
/*   font-weight: 500; */
/* } */

/* 代码块 */
.markdown-preview-view code {
  font-size: 0.8em !important;
  font-weight: 500;
}

/* 行内代码 */
body.theme-light .markdown-preview-view code:not(pre code) {
  /* color: #1b1c23; */
  color : #333333;
  border: 1px solid #e7eaed;
  background-color: #f3f4f4;
  border-radius: var(--radius-s);
  font-weight: 500;
}


/* .cm-s-obsidian pre.HyperMD-codeblock, */
/* :is(.markdown-preview-view, .markdown-rendered) code, */
/* .markdown-rendered code { */
/*   border: 1px solid #e7eaed; */
/*   font-size: 0.8em !important; */
/*   font-weight: 500; */
/* } */


/* edit mode */

.theme-light .cm-s-obsidian .cm-inline-code {
  font-size: 0.8em !important;
  font-weight: 500;
  color : #333333 !important;
  border: 1px solid #e7eaed !important;
  background-color: #f3f4f4 !important;
}

.theme-dark .cm-s-obsidian .cm-inline-code {
  font-size: 0.8em !important;
  font-weight: 500;
  /* border: 1px solid #e7eaed; */
  /* background-color: #f5f5f5; */
}


.markdown-source-view.cm-s-obsidian.mod-cm6 .HyperMD-codeblock {
  font-size: 0.8em;
  font-weight: 500;
}

.theme-light,
body.theme-light.is-mobile {
  --default-variable: #1b1c23;
  --default-function: #aa3732;
  --default-keyword: #7a3e9d;
  --default-operator: #777777;
  --default-number: #9c5d27;
  --default-string: #438c27;
  --default-punctuation: #7c3813;
  --default-comment: #aaaaaa;
  --default-deleted: #c82424;
  --default-added: #438c27;
  --default-constant: #9c5d27;
}

.theme-dark,
body.theme-dark.is-mobile {
  --default-variable: #9cdcfe;
  --default-function: #dcdcaa;
  --default-keyword: #c586c0;
  --default-operator: #d4d4d4;
  --default-string: #ce9278;
  --default-number: #b5cea8;
  --default-punctuation: #cccccc;
  --default-comment: #6a9956;
  --default-deleted: #c82424;
  --default-added: #438c27;
  --default-constant: #4e94ce;
}
.theme-light .token.comment .theme-light .cm-comment {
  color: var(--default-comment);
}

.theme-dark .token.comment,
.theme-dark .cm-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--default-comment);
}

.token.punctuation,
.token.plain-text,
.token.dom.variable,
.cm-hmd-codeblock.cm-bracket {
  color: var(--default-punctuation);
}

code[class*="language-"]:not(.language-txt),
.token.selector,
.token.dom.variable,
.token.tag,
.token.parameter,
.cm-property,
.cm-variable,
.cm-tag,
.cm-def,
.cm-qualifier {
  color: var(--default-variable);
}

.token.class-name,
.token.maybe-class-name,
.token.property-access,
.token.builtin,
.cm-type,
code .cm-tag {
  color: var(--default-keyword);
  font-weight: 600;
}

.token.constant {
  color: var(--default-constant);
  font-weight: 600;
}

.token.coord,
.token.string,
.token.char,
.token.attr-value,
.cm-string,
.cm-string-2 {
  color: var(--default-string);
  font-weight: 600;
}

.token.expression,
.token.atrule,
.token.keyword,
.cm-keyword,
.token.property,
.cm-property.cm-string {
  color: var(--default-keyword);
}

.token.boolean,
.token.number,
.token.symbol,
.token.attr-name,
.cm-attribute,
.cm-number,
.cm-atom {
  color: var(--default-number);
  font-weight: 500;
}

.token.operator,
.cm-operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--default-operator);
  /* font-weight: bold; */
}

.token.function,
.token.method,
.token.macro.property,
.cm-builtin,
.cm-def {
  color: var(--default-function);
  font-weight: 600;
  /* font-style: italic; */
}

.token.inserted {
  color: var(--default-added);
  font-weight: 600;
}

.token.deleted {
  color: var(--default-deleted);
  font-weight: 600;
}

/* span.token.directive.keyword { */
/*   color: #4b69c6; */
/* } */

.token.regex,
.token.important,
.token.variable {
  color: var(--default-keyword);
}

.token.important,
.token.bold {
  font-weight: 600;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
