
/* 使代码块中的字体变为粗体 */
.markdown-preview-view code {
    font-weight: bold;
}

/* 使行内代码的字体变为粗体 */
.markdown-preview-view pre code {
    font-weight: bold;
}

/* 使编辑模式下的代码块字体变为粗体 */
.cm-s-obsidian .cm-inline-code {
    font-weight: bold;
}

.cm-s-obsidian .HyperMD-codeblock {
    font-weight: bold;
}


/* .cm-s-obsidian pre.HyperMD-codeblock {      */
/*   font-family: "FiraCode Nerd Font"; */
/*   font-weight: 700; */
/* } */
/**/
/* .markdown-preview-view code { */
/*   font-family: "FiraCode Nerd Font"; */
/*   font-weight: 700; */
/* } */
