img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

 .markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto !important;
}


/*预览表格全宽*/
.markdown-preview-view table {
    width: 100%;
    margin-top: 12px;
}
